<script type="text/javascript">
$(function() {
  // when the #search field changes

  function processChange( ) {
    // make a GET call and replace the contents
   resultsUser = document.getElementById('user').value ;
    $.get('<%= inc_search_tests_path %>', 
          { user:resultsUser }, 
          function(data) {
            $("#results").html(data);
          });

  }


  $("#user").change(function() {
      //    alert("Menu changed");
     processChange( ) ;
  });

});
</script>

<h1>Select Dataset</h1>
<%= form_tag('javascript:void(0)') do %>
<p>
Search Criteria: <%= select_tag 'user', options_for_select( [ "", 'All', 'R1', 'REQ1', 'Req1' , 'Required1']) %>
</p>

<% end %>
<div id="results">
</div>